%br
#new_form=render 'url_maps/form'
%h3 All Short URLs 
%table.zebra-striped.bordered-table
  %tr
    %th Shortened URL
    %th Original URL
    %th Tags
    %th
  -for url_map in @url_maps
    %tr
      %td.span2
        %b=link_to url_map.short_url,url_redirect_path(url_map.short_url) 
      %td.span3
        -url_map.long_url.scan(/.{1,50}/).each do |line|
          =line
          %br
      %td.span4
        - url_map.tags.each do |tag|
          %li.tag=tag.name
      %td.span5
        = link_to "Show", url_map,:class=>'btn '
        = link_to "Edit", edit_url_map_path(url_map),:class=>'btn '
        = link_to "Remove", url_map, :confirm => 'Are you sure?', :method => :delete,:class=>'btn'


